.table__needs-validation {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  position: relative;
  button {
    height: 38px;
    margin-top: 31px;
  }

  .invalid-feedback {
    display: block;
    position: absolute;
    top: 77px;
    right: 200px;
    width: 396px;
    font-size: 100%;
  }
}
.table__header {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;

  .table__showForm {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    height: 38px;
  }

}

.about {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #a8a8f7;
  margin-top: 10px;
  padding-top: 10px;
  .about__user, .about__description, .about__address, .about__city, .about__state, .about__zip, {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .about-header {
    width: 200px;
  }
  .about-body {
    width: calc(100% - 200px);
  }
}
