.App__loading {
  background: #bbbbbb87;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .MuiCircularProgress-root {
    width: 100px!important;
    height: 100px!important;
  }
}

.App__showForm {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
